<div class="rsvp-form">
  <div id="mc_embed_signup">
    <form action="http://pdxinteractive.us6.list-manage.com/subscribe/post?u=a68677050a5a2aea4917fa574&amp;id=37ccc02734" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="RSVP" required>
      <input type="submit" value="submit" id="submit" />
    </form>
    <div class="tip">Please enter your email to get involved</div>
  </div>
  <p class="success">Thank you for your RSVP! We look forward to seeing you on November 15th.</p>
  <p class="pending">Thank you for signing up! A confirmation email with instructions on completing your registration has been sent to the address you provided.</p>
</div>

<article id="info" class="group">
  <div class="box">
    <h3 id="what">What</h3>
    <p>A discussion with industry professionals from a variety of backgrounds</p>
  </div>
  <div class="box middle">
    <h3 id="when">When</h3>
    <p>
      November 15th<br/>
      Time: 7pm - 9pm
    </p>
  </div>
  <div class="box">
    <h3 id="where">Where</h3>
    <p>
      Art Institute of Portland<br />
      1122 NW Davis Street<br/>
      Second Floor, Open Space
    </p>
  </div>
</article>
