<!DOCTYPE html>
<!--[if lt IE 7 ]>  <html lang='en-US' class='ie ie6'> <![endif]-->
<!--[if IE 7 ]>     <html lang='en-US' class='ie ie7'> <![endif]-->
<!--[if IE 8 ]>     <html lang='en-US' class='ie ie8'> <![endif]-->
<!--[if IE 9 ]>     <html lang='en-US' class='ie ie9'> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang='en-US'> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>

  <meta property="og:title" content="An Open Discussion on Managing Interactive Teams" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://pdxinteractive.com" />
  <meta property="og:image" content="http://pdxinteractive.com/assets/themes/dev/images/pdx_interactive_logo_trans.png" />
  <meta property="og:site_name" content="PDX Interactive" />
  <meta property="og:description" content="A discussion with industry professionals from a variety of backgrounds starting at 7pm, November 15th, at the Art Institute of Portland's Open Space." />
  <meta property="fb:admins" content="616418667" />

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link href="{{ ASSET_PATH }}/css/normalize.css" rel="stylesheet" type="text/css" media="all">
  <link href="{{ ASSET_PATH }}/css/style.css" rel="stylesheet" type="text/css" media="all">
  <script src="{{ ASSET_PATH }}/js/libs/prefixfree.min.js"></script>

  <!-- fav and touch icons
  <link rel="shortcut icon" href="images/favicon.ico">
  <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->
</head>
<body>

{{ content }}

{% include themes/dev/partials/_footer.html %}

<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=166005086871102";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
(function(d,s,id){
  var js,fjs=d.getElementsByTagName(s)[0];
  if(!d.getElementById(id)){js=d.createElement(s);js.id=id;
    js.src="https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js,fjs);
  }
})(document,"script","twitter-wjs");
</script>


</body>
</html>
