<DOCTYPE html>
<!--[if lt IE 7 ]>  <html lang='en-US' class='ie ie6'> <![endif]-->
<!--[if IE 7 ]>     <html lang='en-US' class='ie ie7'> <![endif]-->
<!--[if IE 8 ]>     <html lang='en-US' class='ie ie8'> <![endif]-->
<!--[if IE 9 ]>     <html lang='en-US' class='ie ie9'> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang='en-US'> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>

  <meta name="author" content="AIPD WDIM332">

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link href="{{ ASSET_PATH }}/css/normalize.css" rel="stylesheet" type="text/css" media="all">
  <link href="{{ ASSET_PATH }}/css/style.css" rel="stylesheet" type="text/css" media="all">
  <script src="{{ ASSET_PATH }}/js/libs/prefixfree.min.js"></script>

  <!-- fav and touch icons
  <link rel="shortcut icon" href="images/favicon.ico">
  <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->
</head>
<body>
<div id="fb-root"></div>
<!-- <div id="container"> -->

  {{ content }}
  
<!-- </div> --> <!--/.container-->

{% include themes/dev/partials/_footer.html %}
{% include themes/dev/partials/_scripts.html %}
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=166005086871102";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<script type="text/javascript">
  // Google Analytics
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36043335-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>
