<hgroup class="post-header">
  <h1>{{ page.title }}</h1>
</hgroup>

<article class="profile">
  {{ content }}

  <hr>

  <div class="metadata">
    <p>
      Published
      <time datetime="{{ page.date }}">
        {{ page.date | date_to_long_string }}
      </time>
    </p>

    {% unless page.tags == empty %}
      <h4>Tags</h4>
      <ul class="tag_box">
      {% assign tags_list = page.tags %}
      {% include JB/tags_list %}
      </ul>
    {% endunless %}
  </div>
</article>

{% include JB/comments %}


