html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, del, dfn, em, font, img, ins, kbd, q, s, samp, acronym, address, big, cite, code,small, strike, strong, sub, sup, tt, var,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td {font-size:100%;font-family:inherit;vertical-align:baseline;margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;}caption, th, td {text-align:left;font-weight:normal;}table {border-collapse:separate;border-spacing:0;}blockquote:before,blockquote:after,q:before,q:after {content: "";}blockquote, q {quotes: "" "";}

/* first for IE 4–8 */
@font-face {
	font-family: TisaWebPro;
	src: url("../fonts/TisaWebPro.eot");
}

@font-face {
	font-family: TisaScWebPro;
	src: url("..fonts/TisaScWebPro.eot");
}

/* then for WOFF-capable browsers */
@font-face {
	font-family: TisaWebPro;
	src: url("../fonts/TisaWebPro.woff") format("woff");
}

@font-face {
	font-family: TisaScWebPro;
	src: url("../fonts/TisaScWebPro.woff") format("woff");
}

/* ---------- Removes focus outline in web-kit browsers ---------- */
*:focus { outline: 0; }

input::-webkit-input-placeholder { color: #fff; }

/* ---------- Globals ----------- */
h1 {
	width: 320px;
	height: 191px;
	background: url(../images/pdx_interactive_logo_trans.png) top left no-repeat;
	margin: 0 auto 15px;
	text-indent: -9999px;
}

h2 {
	font-size: 40px;
	line-height: 47px;
	text-align: center;
}

p { line-height: 150%; }

p, ul, ol { margin-bottom: 15px; }

ul, ol { list-style-position: inside; }

strong, b { font-weight:bold; }

i, em { font-style:italic; }

.clear { clear: both; }

.darkRed { color: #592519; }

body {
	color: #fbfcfc;
  font-family: 'TisaWebPro', serif;
	font-size: 19px;
	line-height: 24px;
	text-shadow: 1px 1px 1px #3e3b3b;
}

#main {
	background: url(../images/background.jpg) no-repeat center top;
	-webkit-background-size: cover;
		 -moz-background-size: cover;
			 -o-background-size: cover;
	   	    background-size: cover;
	min-width: 1020px;
	padding: 110px 0 50px 0;
}

/* ---------- Content Container ---------- */
#main .content,
#panelists .content {
	margin: 0 auto;
	width: 1020px;
}

/* ---------- RSVP Form ---------- */
.rsvp-form {
	height: 65px;
	margin: 40px auto 0;
	width: 345px;
}

.social a:hover { opacity: 0.75; }

.rsvp-form .social {
	height: 32px;
	width: 68px;
	padding-top: 4px;
	position: absolute;
}

.rsvp-form form { display: inline-block; }

.rsvp-form input#email {
	background: url("../images/input.png") no-repeat scroll left top transparent;
	border: medium none;
	color: #fff;
	display: inline-block;
	float: left;
	font-size: 18px;
	height: 36px;
	line-height: 36px;
	margin-left: 80px;
	margin-right: 1px;
	text-indent: 13px;
	text-shadow: 1px 1px 1px #3e3b3b;
	width: 212px;
}

.rsvp-form input#submit {
  background: url(../images/submit.png) no-repeat 0 0;
  border: 0;
	display: inline-block;
  height: 36px;
	text-indent: -9999px;
	width: 38px;
}

.rsvp-form .tip {
	clear: both;
	font-size: 15px;
	font-style: italic;
	padding: 0;
	text-align: center;
	text-shadow: none !important;
}

/* ----------- Where, When & Who ---------- */
#www {
	border: 1px solid #D3A795;
	border-bottom: 0;
	margin: 50px auto 0;
/* 	min-height: 157px; */
	width: 820px;
}

#www .outside {
  float: left;
	height: 117px;
	padding: 20px;
  width: 239px;
}

#www #middle {
	border-left: 1px solid #D3A795;
	border-right: 1px solid #D3A795;
  float: left;
	height: 117px;
	padding: 20px;
  width: 220px;
}

#www h3#where {
  background: url(../images/where.png) top left no-repeat;
	height: 45px;
  margin-bottom: 15px;
	text-indent: -9999px;
  width: 101px;
}

#www h3#when {
	background: url(../images/when.png) top left no-repeat;
	height: 45px;
	margin-bottom: 15px;
  text-indent: -9999px;
  width: 84px;
}

#www h3#who {
	background: url(../images/who.png) top left no-repeat;
	height: 47px;
  margin-bottom: 15px;
	width: 66px;
	text-indent: -9999px;
}

#www article {
	font-size: 17px;
	font-style: italic;
}

/* ----------- About ----------- */
#about {
	margin: 60px auto 0;
/* 	min-height: 300px; */
	width: 820px;
}

#about h4 {
	background: url('../images/about.png') top left no-repeat;
  height: 61px;
  margin-bottom: 15px;
  text-indent: -9999px;
	width: 264px;
}

#map {
	float: right;
	margin-left: 15px;
}

/* ---------- Shadow ----------*/
.shadow {
  background: url(../images/shadow.png) 0 0 repeat-x;
  height: 21px;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* ---------- Panelists Profiles ----------- */
#panelists {
	background: url('../images/footer_pannel.jpg') 0 0;
/*
	-webkit-background-size: cover;
		 -moz-background-size: cover;
			 -o-background-size: cover;
	   	    background-size: cover;
*/
	margin: 0 auto;
	text-shadow: none !important;
}

#panelists h4 {
	background: url("../images/panelists.png") no-repeat scroll left top transparent;
	height: 62px;
	margin-left: 100px;
	margin-top: 45px;
	text-indent: -9999px;
	width: 265px;
}

.speaker { padding: 50px 100px; }

.speaker h5, 
.speaker h6 { display: inline-block; }

.speaker h5 {
	font-family: 'TisaWebPro',serif;
	font-size: 36px;
	margin-right: 15px;
	padding-bottom: 13px;
}

.speaker .nameSite {
	border-bottom: 1px solid #D2D2D2;
	margin-bottom: 15px;
	padding-left: 3px;
}

.speaker .contact {
	margin-top: -48px;
	position: absolute;
	text-align: right;
	width: 820px;
}

.speaker h6 a:link, .speaker h6 a:visited {
	color: #20c2d5;
	font-size: 18px;
	text-decoration: none;
}

.speaker h6 a:hover { color: #85e4ef; }

.speaker #speakerImg {
	float: left;
	margin-right: 15px;
	margin-top: -15px;
}

.speaker .info {
	font-size: 16px;
	padding-top: 15px;
}

/* ------------ Footer ----------- */
footer {
  background: #000;
  clear: both;
  padding: 0;
  text-align: center;
  width: 100%;
}

footer p {
  font-size: 12px;
  line-height: 100%;
  margin: 0;
  padding: 10px 0;
}