/* reset */

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, del, dfn, em, font, img, ins, kbd, q, s, samp, acronym, address, big, cite, code,small, strike, strong, sub, sup, tt, var,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td {font-size:100%;font-family:inherit;vertical-align:baseline;margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;}caption, th, td {text-align:left;font-weight:normal;}table {border-collapse:separate;border-spacing:0;}blockquote:before,blockquote:after,q:before,q:after {content: "";}blockquote, q {quotes: "" "";}

/* fonts */

@font-face {
	font-family: 'TisaWebPro';
	src: url('../fonts/TisaWebPro.eot');
	src: url('../fonts/TisaWebPro.eot?#iefix') format('embedded-opentype'),
	url('../fonts/TisaWebPro.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'TisaScWebPro';
	src: url('../fonts/TisaScWebPro.eot');
	src: url('../fonts/TisaScWebPro.eot?#iefix') format('embedded-opentype'),
	url('../fonts/TisaScWebPro.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/* helpers */

/* clearfix: http://css-tricks.com/snippets/css/clear-fix */
.group:after {
	content: "";
	display: table;
	clear: both;
}

*:focus { outline: 0 }
input::-webkit-input-placeholder {
	color: #fff;
	text-shadow: none;
}

/* typography */

p { line-height: 150%; }

p, ul, ol { margin-bottom: 15px; }

ul, ol { list-style-position: inside; }

strong, b { font-weight:bold; }

i, em { font-style:italic; }

body {
	color: #fbfcfc;
	font-family: 'TisaWebPro', serif;
	font-size: 19px;
	line-height: 24px;
	text-shadow: 1px 1px 1px #3e3b3b;
}

a {
	color: #20C2D5;
	text-decoration: none;
}
	a:hover { text-decoration: underline }

/* global styles */

#main {
	background: #000 url(../images/background.jpg) no-repeat center top;
	background-size: cover;
	min-width: 1020px;
	padding: 100px 0 50px 0;
}

.wrap {
	margin: 0 auto;
	width: 1020px;
}

/* header */

header #logo {
	background: url(../images/pdx_interactive_logo_trans.png) left top no-repeat;
	height: 191px;
	margin: 0 auto 15px;
	text-indent: -9999px;
	width: 320px;
}

header h2 {
	font-size: 40px;
	line-height: 47px;
	margin: 0 auto;
	text-align: center;
	text-transform: uppercase;
	width: 680px;
}

/* ---------- RSVP Form ---------- */
p.success,
p.pending {
	background: none;
	color: #fff;
	display: none;
	font-size: 16px;
	margin: 20px auto 0;
	text-align: center;
	text-shadow: 1px 1px 1px #3e3b3b;
	width: 560px;
}

.rsvp-form {
	height: 60px;
	margin: 30px auto 0;
	text-align: center;
}

form { display: inline-block; }

form input#mce-EMAIL {
	background: url("../images/input.png") no-repeat scroll left top transparent;
	border: none;
	color: #fff;
	display: inline-block;
	float: left;
	font-size: 16px;
	height: 36px;
	line-height: 36px;
	margin-left: 0;
	text-indent: 10px;
	text-shadow: 1px 1px 1px #3e3b3b;
	width: 212px;
}

form input#submit {
	background: url(../images/submit.png) no-repeat 0 0;
	border: 0;
	display: inline-block;
	height: 36px;
	text-indent: -9999px;
	width: 38px;
}

form input#submit:hover,
form input#submit:active {
	background-color: rgba(255, 150, 100, .2);
}

.rsvp-form .tip {
	color: #652D1F;
	display: block;
	font-size: 15px;
	font-style: italic;
	padding: 0;
	text-align: center;
	text-shadow: none !important;
}

/* event info */

#info {
	border: 1px solid #D3A795;
	border-bottom: 0;
	margin: 30px auto 0;
/* 	min-height: 157px; */
	width: 820px;
}

#info .box {
	float: left;
	height: 130px;
	padding: 20px;
	width: 239px;
}

#info .box.middle {
	border-left: 1px solid #D3A795;
	border-right: 1px solid #D3A795;
	width: 220px;
}

#info h3#what {
	background: url(../images/what.png) top left no-repeat;
	height: 45px;
	margin-bottom: 15px;
	width: 84px;
	text-indent: -9999px;
}

#info h3#when {
	background: url(../images/when.png) top left no-repeat;
	height: 45px;
	margin-bottom: 15px;
	text-indent: -9999px;
	width: 84px;
}

#info h3#where {
	background: url(../images/where.png) top left no-repeat;
	height: 45px;
	margin-bottom: 15px;
	text-indent: -9999px;
	width: 101px;
}

#info p {
	font-size: 17px;
	font-style: italic;
}

/* social buttons */

.social {
	margin: 30px auto 0;
	text-align: center;
}

.social iframe, .social div {
	display: inline-block;
	line-height: 0;
	vertical-align: top;
}

/* about */

#about {
	margin: 60px auto 0;
/* 	min-height: 300px; */
	width: 820px;
}

#about .content {
	text-align: center;
}

#about h4 {
	background: url('../images/about.png') top left no-repeat;
	height: 61px;
	margin-bottom: 15px;
	text-indent: -9999px;
	width: 284px;
}

#about .map {
	float: right;
	margin-left: 15px;
}

/* ---------- Shadow ----------*/

.shadow {
	background: url(../images/shadow.png) 0 0 repeat-x;
	height: 21px;
	margin: -56px 0 56px 0;
	padding: 0;
	width: 100%;
}

/* ---------- Panelists Profiles ----------- */

#panelists {
	background: #111 url(../images/panBack.jpg) repeat;
	font-size: 16px;
	min-width: 1020px;
	padding: 56px 0 50px 0;
}

#panelists .panelist {
	margin: 0 auto;
	padding: 0 0 80px 0;
	/* 	min-height: 300px; */
	width: 820px;
}

#panelists .content {
	width: 500px;
	float: right;
}

#panelists .panel_img {
	margin-right: 15px;
	float: left;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#panelists h4 {
	background: url("../images/panelists.png") no-repeat scroll left top;
	height: 62px;
	margin: 0 0 30px 100px;
	text-indent: -9999px;
	width: 282px;
}

#panelists h5 {
	font-size: 36px;
}

#panelists h6 {
	font-size: 20px;
}

#panelists p {
	padding: 25px 0 10px 0;
}

#panelists ul {
	list-style-type: none;
	margin: -34px 0 0 0;
	padding: 0;
	float: right;
}

#panelists ul li {
	padding: 0 0 0 8px;
	display: inline;
}

#panelists .panel_website {
	margin: -24px 0 0 0;
	float: right;
}

#panelists .panel_website a {
	color: #20c2d5;
	font-size: 18px;
}

#panelists .coming-soon p {
	text-align: center;
	font-size: 22px;
}

/* ------------ Youtube ----------- */
.youtube iframe{
	width: 853px;
	margin: 0 auto;
	margin-top: 45px;
	display: block;
}

/* ------------ Footer ----------- */

footer {
	background: #000;
	clear: both;
	padding: 24px 0;
	text-align: center;
	width: 100%;
}

footer p {
	font-size: 12px;
	line-height: 100%;
	margin: 0;
	padding: 10px 0;
}
